<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->
<button class="btn btn-primary btn-sm" (click)="saveConfiguration()">Save Configuration</button>
<br />
<br />
<h6>Authorization</h6>
<div class="container-fluid">
  <div class="row form-group">
    <div class="col-md-3">
      <label>Authorization Base Uri</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.getAuthorizationBaseUri" class="form-control form-control-sm input-sm"  />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Response Type</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.responseType"  class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Code Challenge Method</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.codeChallengeMethod" class="form-control form-control-sm input-sm"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Client Id</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.clientId" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Scope</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.scope" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Redirect Uri</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.redirectUri" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>State</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.state" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Code Challenge (PKCE)</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.codeChallenge" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <div class="btn-group">
        <a href="https://tonyxu-io.github.io/pkce-generator/" target="_blank" class="btn btn-primary btn-sm" (click)="generateUri()">Go to PKCE Generator</a>
        <button class="btn btn-primary btn-sm" (click)="generateUri()">Generate Uri</button>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Generated Uri</label>
    </div>
    <div class="col-md-9 input-group">
      <input type="text" [(ngModel)]="xeroAuthorization.generatedUri" class="form-control form-control-sm input-sm" readonly />
      <div class="input-group-append">
        <a href="{{xeroAuthorization.generatedUri}}" target="_blank" class="btn btn-outline-success btn-sm">Go</a> 
      </div>
    </div>
  </div>
</div>

<h6>Token</h6>
<div class="container-fluid">
  <div class="row form-group">
    <div class="col-md-3">
      <label>Token Base Uri</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.postTokenBaseUri" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Grant Type</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.grantType" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Client Id</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.clientId" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Code</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.code" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Code Verifier (PKCE)</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.codeVerifier" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <button class="btn btn-primary btn-sm" (click)="generateToken()">Generate Tokens</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Id Token</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm input-sm" value="{{xeroAuthorization.idToken}}" readonly />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Access Token</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm input-sm" value="{{xeroAuthorization.accessToken}}" readonly />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Expires In (seconds)</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm input-sm" value="{{xeroAuthorization.expiresIn}}" readonly />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Expires In (date/time)</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm input-sm" value="{{xeroAuthorization.expiresDateTime}}" readonly />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Token Type</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm input-sm" value="{{xeroAuthorization.tokenType}}" readonly />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Refresh Token</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm input-sm" value="{{xeroAuthorization.refreshToken}}" readonly />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Xero Tenant Id</label>
    </div>
    <div class="col-md-9 input-group">
      <input type="text" class="form-control form-control-sm input-sm" readonly value="{{xeroAuthorization.xeroTenantId}}" />
      <div class="input-group-append">
        <button class="btn btn-outline-success btn-sm" (click)="getXeroTenants()">Search</button>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Xero Tenant Name</label>
    </div>
    <div class="col-md-9 input-group">
      <input type="text" class="form-control form-control-sm input-sm" readonly value="{{xeroAuthorization.xeroTenantName}}" />
      <div class="input-group-append">
        <button class="btn btn-outline-success btn-sm" (click)="getXeroTenants()">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover" *ngIf="xeroTenants">
        <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              Tenant Id
            </th>
            <th>
              Tenant Type
            </th>
            <th>
              Tenant Name
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let xeroTenant of xeroTenants" (click)="assignTenantId(xeroTenant)">
            <td>
              {{xeroTenant.id}}
            </td>
            <td>
              {{xeroTenant.tenantId}}
            </td>
            <td>
              {{xeroTenant.tenantType}}
            </td>
            <td>
              {{xeroTenant.tenantName}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h6>Xero API</h6>
<div class="container-fluid">
  <div class="row form-group">
    <div class="col-md-3">
      <label>Bills API Uri</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.xeroBillsApiUri" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>API Search Parameters</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.xeroBillsUriQueryParameters" class="form-control form-control-sm input-sm" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-3">
      <label>Accounts API Uri</label>
    </div>
    <div class="col-md-9">
      <input type="text" [(ngModel)]="xeroAuthorization.xeroAccountsApiUri" class="form-control form-control-sm input-sm" />
    </div>
  </div>
</div>
